header {
    grid-area: my-header;
    background-color: blueviolet;
}

nav {
    grid-area: my-nav;
    background-color: cornflowerblue;
}


aside {
    grid-area: my-aside;
    background-color: darkmagenta;
}

section {
    grid-area: my-section;
    background-color: indigo;
}

footer {
    grid-area: my-footer;
    background-color: darkorchid;
}
